# Web Development
Flask==3.1.0
flask-cors==5.0.1
Flask-Login==0.6.3
requests==2.32.3
httpx==0.28.1
websockets==15.0.1

# Data Science & Machine Learning
tensorflow==2.16.1
keras==3.6.0
pandas==2.2.3
numpy==1.26.4
scipy==1.15.2
scikit-learn==1.6.1
shapely==2.1.0
Pillow==9.0.1
torch
matplotlib

# Google Cloud & AI
google-cloud-aiplatform==1.88.0
google-cloud-bigquery==3.31.0
google-cloud-storage==2.19.0
google-genai==1.10.0
google-cloud-resource-manager==1.14.2

# Development & Tools
ipython==8.28.0
ipykernel==6.29.5
locust==2.33.2
twine==6.1.0
uv==0.6.13
pydantic==2.11.3
yt-dlp==2022.4.8
paramiko==2.9.3
beautifulsoup4==4.13.3

# Code Analysis
pyan3==1.2.0
pydeps==3.0.1
PyCG==0.0.8

